:host {
  height: 100%;
  width: 100%;
  display: block;

}
.cdk-drag:not(.cdk-drag-dragging) {
  transition: transform .15s ease;
}

.card {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 90px;
  margin: 4px;
  padding: 5px;
  border: 2px solid forestgreen;
  border-radius: 4px;
  background: white;
  justify-content: space-between;



  &.isEnemy {
    border-color: red;
  }

  mat-icon {
    margin: 0;
  }

  &.isHighlighted {
    border-color: blue;
  }

  .name {
    user-select: none;
    min-height: 40px;
  }

  .initiative {
    user-select: none;
    display: flex;
    align-items: center;
  }

  &_toolbar {
    //margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      cursor: pointer;
    }

    .mat-icon:only-child {
      margin-left: auto;
    }
  }

  .tier {
    height: 8px;
    width: 8px;
    display: inline-block;
    //background-color: red;
    border-radius: 50%;
    margin-right: 5px;

    &.bronze {
      background-color: saddlebrown;
    }
    &.silver {
      background-color: silver;
    }
    &.gold {
      background-color: goldenrod;
    }
    &.azure {
      background-color: #069AF3;
    }
  }
}
