<!--cdkDragDisabled="{{!isHighlighted}}"-->
<div class="card" cdkDrag (cdkDragEnded)="snap($event)"
[class.isHighlighted]="isHighlighted"
[class.isEnemy]="isEnemy"
>
  <span class="name">
    {{ _card.name }}
  </span>
  <div class="initiative">
    <mat-icon
      aria-hidden="false"
      aria-label="Initiative"
      fontIcon="directions_run">
    </mat-icon>
    {{ _card.initiative }}
  </div>
<!--  <button-->
<!--    *ngIf="isHighlighted"-->
<!--    (click)="use()"-->
<!--  >-->
<!--    use-->
<!--  </button>-->
<!--  <button-->
<!--    *ngIf="state !== 'IDLE'"-->
<!--  (click)="delete()"-->
<!--  >-->
<!--    Del-->
<!--  </button>-->
  <div class="card_toolbar">
<!--    <mat-icon-->
<!--      *ngIf="isHighlighted"-->
<!--      (click)="use()"-->
<!--      aria-hidden="false"-->
<!--      aria-label="Use card"-->
<!--      fontIcon="check_circle">-->
<!--    </mat-icon>-->
    <span
      *ngIf="isHighlighted && !selectedCard"
      (click)="select()"
      class="material-symbols-outlined">
      check_box_outline_blank
    </span>
    <span
      *ngIf="isHighlighted && selectedCard?.name === _card.name"
      class="material-symbols-outlined">
      check_box
    </span>
    <mat-icon
      (click)="delete()"
      aria-hidden="false"
      aria-label="Delete card"
      fontIcon="delete">
    </mat-icon>
  </div>

</div>
