:host {
  height: 100%;
  width: 100%;
  display: block;
}

.card {
  display: flex;
  flex-direction: column;
  height: 110px;
  width: 90px;
  margin: 4px;
  padding: 5px;
  border: 2px solid forestgreen;
  border-radius: 4px;
  background: white;

  &.isEnemy {
    border-color: red;
  }

  mat-icon {
    margin: 0;
  }

  &.isHighlighted {
    border-color: blue;
  }

  .name {
    user-select: none;
  }

  .initiative {
    user-select: none;
    display: flex;
  }

  &_toolbar {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    span {
      cursor: pointer;
    }

    .mat-icon:only-child {
      margin-left: auto;
    }
  }
}
