$length: 16px;
$width: 4px;

hr {
  z-index: 1000;
  pointer-events: none;
  position: absolute;

  transform-origin: top left;
  margin: 0;
  padding: 0;

  background:
    linear-gradient(90deg, #aaa 50%, transparent 0) repeat-x;
  background-size: $length $width, $length $width, $width $length, $width $length;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .3s infinite linear;
  border: none;
  height: $width;
}

@keyframes linearGradientMove {
  100% {
    background-position: $length 0, -$length 100%, 0 -$length, 100% $length;
  }
}
