<!--<mat-form-field class="example-full-width">-->
<!--  <mat-label>Unit A</mat-label>-->
<!--  <input type="text"-->
<!--         placeholder="Pick one"-->
<!--         aria-label="Unit A"-->
<!--         matInput-->
<!--         [formControl]="unitAControl"-->
<!--         [matAutocomplete]="unitA">-->
<!--  <mat-autocomplete #unitA="matAutocomplete">-->
<!--    <mat-option *ngFor="let option of filteredUnitAOptions | async" [value]="name(option.id)">-->
<!--      {{name(option.id)}}-->
<!--    </mat-option>-->
<!--  </mat-autocomplete>-->
<!--</mat-form-field> <span class="vs">vs</span>-->


<div class="battle-map">
  <div class="battle-map_row" *ngFor="let y of rows">
    <div class="battle-map_cell" *ngFor="let x of cells" id="{{x}}.{{y}}">
      <span class="pos">
        {{x}} . {{y}}
      </span>
      <ng-container *ngIf="isCardPresent(x, y)">
        <app-card
          [card]="getCard(x, y)"
          [highlighted]="highlightedUnits$ | async | defaultIfNull: []"
          [state]="state$ | async | defaultIfNull: 'IDLE'"
          (move)="moveCard($event)"
          (useCard)="useCard($event)"
          (deleteCard)="removeCardFromGame($event)"
        ></app-card>
      </ng-container>
    </div>
  </div>
  <app-line
    [source]="moveLine.source"
    [target]="moveLine.target"
  ></app-line>
  <app-line
    [source]="attackLine.source"
    [target]="attackLine.target"
    [isAttack]="true"
  ></app-line>
</div>

<button
  *ngIf="state$.value === 'IDLE'"
  (click)="state.transition('START')"
>START</button>
<button
  *ngIf="state$.value !== 'IDLE'"
  (click)="nextMove()"
>NEXT</button>

{{highlightedUnits$ | async | json}}
