.battle-map {
  display: block;
  position: relative;

  &_row {
    display: flex;
    height: 120px;
  }

  &_cell {
    height: 120px;
    width: 100px;
    border: 1px solid white;
    position: relative;
  }

  .pos {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 120px;
    width: 100px;
    text-align: center;
    line-height: 120px;
    opacity: .3;
    user-select: none;
    z-index: -1;
    color: white;
  }

  app-card {
    z-index: 1;
    pointer-events: all;
    position: absolute;
  }
}


.unitList {
  display: flex;
  padding: 0;

  &_item {
    margin: 0;
    list-style-type: none;
  }
}

.interface {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  max-width: 800px;
}

.battle-guide {
  min-height: 44px;
  color: white;
  font-size: 20px;
  margin-top: 5px;

  .small {
    font-size: 10px;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}

.interface-unit-placement {
  z-index: 1;
}

.extraInfo {
  color: darkgrey;
  font-size: 10px;
  display: block;
}
