.toolbar {
  background-image: url("../assets/UI/dialog-background.png");
  background-repeat: repeat;
  padding: 10px;
  border-image-source: linear-gradient(to bottom, #b4a46d, #9e8236);
  border-image-slice: 3;
  border-image-width: 3px;
  transition: margin-top .6s ease-in-out;

  &.hide {
    margin-top: -60px;
  }
}
